<div class="container-fluid">
			<!-- Page Header -->
			<div class="page-header">
				<div class="col-sm-12">
					<div class="col-sm-8 media-object">
							<%= image_tag 'indoor.jpg' %>
					</div>
					<div class="col-sm-4 ">
						<ul>
							<li id="logo"  class="logo">
								<h1>Bar Rista Cafe</h1>
							</li>
							<li id="yelpFeed" class="test">

							</li>
							<li id="TwitterFeed" class="test">

							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--  Page Header end -->

			<!-- About Section -->

				<div class="aboutSect col-sm-12">
					<!-- <div class="col-sm-6 "> -->
						<div id="abtImg" class="col-sm-4">
							<img src="http://fillmurray.com/350/350" alt="" />
						</div>
						<div class="col-sm-4 abtDesc test2">
							<p>
								Bar Rista Cafe is a fresh take on contemporary American classics with a twist. We offer a laid-back neighborhood vibe paired with fresh, homemade food. We’ve decided to go back to the basics to give our neighborhood simple, good and consistent food and service. We are your local go-to for grabbing a sandwich, salad, beer or glass of wine. We know you’ll come back because of our quality, everyday menu items, and friendly, welcoming service.
							</p>
						</div>
					<!-- </div> -->
					<div class="col-sm-4">

					</div>
				</div>
			<!-- About Section End -->
			<!-- Extra content ..... Picture Picture Hours -->
			<div class="container col-sm-12">
				<div class="contentSect">
					<div class="col-sm-4">
						<img src="" alt="" />
					</div>
					<div class="col-sm-4">
						<img src="" alt="" />
					</div>
					<div class="col-sm-4">
						<div class="hours">
							<h3>Hours</h3>
							<ul>
								<li>Sunday to Thursday - 11:00am to 11:00pm </li>
								<li>Friday and Saturday - 10:00am to Midnight</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Extra Content End -->

		</div>
		<!-- Main body end -->
