// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	/*------------------Header start---------------------*/

	.page-header{
		height: 50%;
		border: none;
	}
	li h1{
		font-size: 1.3em;
		text-align: center;
	}
	ul{
		margin: 0 auto;
		padding: 0;
	}
	.headingImg{

	}
	/*Header End*/

	/*About Start*/
	#abtImg{
		height: auto;
		width: 33%;

	}

	.aboutSect{
		margin-top: 2em;

	}
	.abtDesc{
		font-family: 'Lato', sans-serif;
		text-align: center;
		font-size: 1.3em;
		background-color: grey;
		background-blend-mode: lighten;
	}
	/*About End*/
	// ----------Extra Content Start-----------
	.hours{
		text-align: center;
		font-family: 'Great Vibes', cursive;
		font-size: 2em;
		}
		.hours h2	{
			font-weight: 800;
			border-bottom: 2px solid black;
		}
	.contentSect{
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.conpic{
		height: 22em;
	}
	// Extra Content End
